@mixin border-gradient($radius: 12, $color1: ffa500, $color2: ffd700) {
  border: 2px solid var(--main-purple);
  border-radius: #{$radius}px;
  border-image: url("data:image/svg+xml,%3csvg width='1000' height='1000' viewBox='0 0 1000 1000' fill='none' xmlns='http://www.w3.org/2000/svg'%3e %3crect x='1' y='1' width='998' height='998' rx='11' stroke='url(%23paint0_linear_1657_13520)' stroke-opacity='0.8' stroke-width='2'/%3e %3cdefs%3e %3clinearGradient id='paint0_linear_1657_13520' x1='1000' y1='0' x2='244.758' y2='1159.43' gradientUnits='userSpaceOnUse'%3e %3cstop stop-color='%23#{$color1}'/%3e %3cstop offset='1' stop-color='%23#{$color2}'/%3e %3c/linearGradient%3e %3c/defs%3e %3c/svg%3e")
    $radius / #{$radius}px stretch; // Using the $radius variable for both values
}

@mixin primary-div($isClickable: false, $isResponsive: false) {
  background-color: var(--main-background-glass);
  box-shadow: 0px 0px 20px 3px rgba(37, 14, 32, 0.5);

  padding: 16px 24px;
  border-radius: 12px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  @if $isClickable {
    &:hover {
      border: 2px solid #ffffff1a;
    }
    &:active {
      border: 2px solid #ffffff33;
    }
  }
  @if $isResponsive {
    @media (max-width: 500px) {
      padding: 12px 16px;
    }
  }
}

@mixin primary-button-pink() {
  background-color: var(--main-pink);
  padding: 6px 24px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  color: var(--main-white);

  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: all 0.2s;
  &:hover {
    background-color: var(--main-hover-pink);
  }
  &:active {
    transform: scale(0.98);
    background-color: var(--main-active-pink);
  }
}

@mixin div-image-avs($sizeImg: 20) {
  width: $sizeImg + px;
  min-width: $sizeImg + px;
  height: $sizeImg + px;
  border-radius: 2px;
  padding: 1px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--very-light-pink);
  box-shadow: 0 4px 6px rgb(34 15 26 / 20%);
  overflow: hidden;
  isolation: isolate; // Add this line
  mask-image: radial-gradient(circle, white 100%, black 100%); // Add this line
  @if $sizeImg > 40 {
    padding: 2px;
    img {
      filter: drop-shadow(1px 1px 1px #c98686);
    }
  } @else {
    padding: 1px;
    img {
      filter: drop-shadow(2px 2px 1.5px #de9c9c);
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1px;
  }
}
